<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="E_LetterBox_Control_Software.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <E_LetterBox_Control_Software.My.MySettings>
            <setting name="hostname" serializeAs="String">
                <value>192.168.15.126</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>7777</value>
            </setting>
            <setting name="animations_enabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_cpu_usage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="connect_on_start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="search_ip" serializeAs="String">
                <value>False</value>
            </setting>
        </E_LetterBox_Control_Software.My.MySettings>
    </userSettings>
</configuration>